.topbar {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
.logo {
  position: fixed;
  left: 1%;
  display: flex;
  align-items: center;
}
.text {
  font-weight: bold;
  margin-left: 5px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.icon {
  max-width: 30px;
  max-height: 30px;
  margin: 0 5px;
}
.sidebar-conatiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-left: 1%;
  position: fixed;
  background-color: white;
  left: 0%;
  height: 100%;
  border-right: 1px solid #ddd;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.sidebar-icon {
  margin-left: 5%;
  max-width: 30px;
  max-height: 30px;
  margin-bottom: 20px;
}

.sidebar-icon:last-child {
  margin-bottom: 0;
}
